html, body{
    height: 100%;
    margin: 0;

}

h1{
    display: block;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Cabin Sketch', sans-serif;
    color: #66BFBF;
}

header{
    padding: 1rem;
    background-color: #212529;
    font-family: Arial, Helvetica, sans-serif
}

.nav-list{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

li{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.heading-container{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #dee2e6;
}

div.container1{
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center
}

div.container1 h1{
    margin: 0;
}

.landing-top-container{
    height: 45vh;
    background-color: #E98580;
    position: relative;
    padding-top: 100px;
    padding-bottom: 0;
}

.landing-middle-container{
    height: 80vh;
    background-color: peru;
    position: relative;
    padding-top: 100px;
    padding-bottom: 0;
}
.landing-bottom-container{
    height: 80vh;
    background-color: rgb(63, 158, 205);
    position: relative;
    padding-top: 100px;
    padding-bottom: 0;
}

.landing-subscribe-container{
    height: 45vh;
    background-color: papayawhip;
    position: relative;
    padding-top: 100px;
    padding-bottom: 0;
}

.footer-container{
    height: 25vh;
    background-color: rgb(85, 59, 20);
    position: relative;
    padding-top: 20px;
    padding-bottom: 10rem;
}